body {
    background-color: rgb(40, 37, 9);
    position: relative;
}

#block-list {
    display: flex;
    flex-flow: column;
    row-gap: 10px;
    border-radius: 10px;
    padding: 5px;
    min-width: 300px;
}
.list-item {
    background-color: white;
}
.list-item, .section {
    display: flex;
    flex-flow: row;
    padding: 5px;
    gap: 10px;
    font-size: medium;
    border: none;
    border-radius: 10px;
}
.section {
    column-gap: 5px;
    justify-content: space-evenly;
}
.section-button {
    border: none;
    border-radius: 10px;
    background-color: #f5f1ba;
}

.list-item-checkbox {
    background-color: black;
}

.list-item-button {
    border: none;
    background-color:  #f5f1ba;
    border-radius: 10px;
}
.list-item-button:hover, .section-button:hover {
    scale: 1.1;
}

.hostname-input {
    border: none;
    width: 100%;
}

#hover {
    border-radius: 5px;
    display: none;
    position: absolute;
    background-color: black;
    width: 100px;
    transition: all;
    transition-duration: .2s;
    opacity: 0;
    color: white;
    text-align: center;
    padding: 5px;
    pointer-events: none;
    font-size: small;
}

input[type=checkbox] {
    cursor: pointer;
    transition: all;
    transition-duration: .2s;
}

input[type=checkbox]:hover {
    scale: 1.5;
}
button, .list-item-button{
    transition: all;
    transition-duration: .2s;
    cursor: pointer;
}
button:hover {
    scale: 1.5;
    background-color: white;
}

#save-blocklist:hover {
    background-color: lime;
}

.list-item-button:hover {
    scale: 1.8;
    background-color: red;
}